# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
VENV/

# Data and Models (though .gitkeep exists for the dirs themselves)
data/*
!data/.gitkeep
models/*
!models/.gitkeep
*.engine

# Example script temporary data
examples/temp_data/

# IDE and OS specific
.idea/
.vscode/
*.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
